*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.verification-main{
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
    padding: 20px;
}

.verification-title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #2B2B2B;
}

.password-img-2{
    display: flex;
    justify-content: center;
}

.password-img-2 img{
    width: 300px;
    height: auto;
}

.verification-parag{
    text-align: justify;
    font-size: 18px;
    padding: 30px 0;
    color: #2B2B2B;
}

.code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
  
.code-inputs input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}
  
.code-inputs input:focus {
    border-color: #8a42f5;
    box-shadow: 0 0 5px #8a42f5;
}

.message {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
  
.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
  
.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.verification-btn{
    width: 100%;
    padding: 15px;
    margin: 40px 0;
    background-color: #B056FF;
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #2B2B2B;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

@media (min-width: 768px){
    .verification-main{
        padding: 50px;
    }
    .verification-title{
        font-size: 40px;
    }
    .verification-box{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 50px 0;
    }
    .password-img-2 img{
        width: 350px;
        height: 300px;
    }
}