*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-white: #F8F8F8;
  --bg-black: #2B2B2B;
  --purple: #B056FF;
  --profile-purple: #C380FF;
  --green: #00FF7F;
  --profile-green: #8FFFA0;
  --form-input-color-w: #D9D9D9;
  --form-text-color-w: #6C6C6C;
  --form-input-color-b: #444444;
  --form-text-color-b: #ABAAAA;
}

.home-container{
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  background-color: var(--bg-black);
  width: 100%;
  height: 100%;
}

header{
  transition: all 0.3s ease-in-out;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.search-bar{
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-white);
  color: var(--bg-black);
  border-radius: 50px;
  padding: 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
}

.add-contact{
  transition: all 0.3s ease-in-out;
  font-size: 40px;
  color: var(--bg-white);
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.sidebar {
  transition: all 0.3s ease-in-out;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0.5rem;
  scroll-behavior: smooth;
}

.sidebar::-webkit-scrollbar {
  height: 0px;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar button {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: 2px solid var(--bg-white);
  color: var(--bg-white);
  padding: 5px 10px;
  width: 110px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  flex: 0 0 auto;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.sidebar button:focus{
  background-color: var(--green);
  border: var(--green);
  color: var(--bg-black);
}

.no-contacts{
  text-align: center;
  color: var(--bg-white);
}

.home-main{
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.green {
  background-color: var(--green);
  border-radius: 0px 30px 30px 30px;
  padding: 25px;
}

.purple {
  background-color: var(--purple);
  border-radius: 0px 30px 30px 30px;
  padding: 25px;
}

.contact-item{
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  gap: 15px;
}

.green-item {
  background-color: var(--profile-green);
}

.purple-item {
  background-color: var(--profile-purple);
}

.contact-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-header{
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}

.star-icon{
  color: #ffc400;
}

@media (min-width: 768px){
  .home-container{
    transition: all 0.3s ease-in-out;
    padding: 30px;
    height: 100vh;
  }
  .add-contact{
    transition: all 0.3s ease-in-out;
    font-size: 50px;
  }
  .sidebar-main-container{
    transition: all 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    position: relative;
    top: -50px;
  }
  .sidebar{
    transition: all 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    height: 350px;
    width: 160px;
  }
  .sidebar button{
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    width: 130px;
  }
  .search-bar{
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-white);
    color: var(--bg-black);
    border-radius: 50px;
    padding: 10px 20px;
    width: 70%;
    height: 40px;
    font-size: 15px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    top: -67px;
    position: relative;
  }
}