*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

:root{
    --bg-white: #F8F8F8;
    --bg-black: #2B2B2B;
    --purple: #B056FF;
    --profile-purple: #C380FF;
    --green: #00FF7F;
    --profile-green: #8FFFA0;
    --form-input-color-w: #D9D9D9;
    --form-text-color-w: #6C6C6C;
    --form-input-color-b: #444444;
    --form-text-color-b: #ABAAAA;
}

.register-main{
    width: 100vw;
    height: 100%;
    background: rgb(0,255,127);
    background: linear-gradient(330deg, rgba(0,255,127,1) 0%, rgba(125,0,255,1) 35%, rgba(77,25,131,1) 65%, rgba(43,43,43,1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.register-box{
    display: flex;
    gap: 150px;
    flex-direction: column;
}

.register-title{
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: var(--bg-white);
}

.register-group{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-group input{
    width: 100%;
    padding: 30px 55px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 0 50px 50px;
    height: 50px;
    border: 2px solid #F8F8F8;
    color: var(--bg-white);
}

.register-group input::placeholder{
    color: var(--bg-white);
    opacity: 0.8;
}

.register-group .icon{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg-white);
    font-size: 18px;
    background-color: transparent;
}

.register-btn{
    width: 100%;
    padding: 15px;
    margin: 50px 0;
    background-color: var(--bg-white);
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: var(--bg-black);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.register-btn:hover{
    background-color: var(--bg-black);
    color: var(--bg-white);
}

p{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.register-info a{
    font-weight: 600;
    color: var(--bg-white);
    text-decoration: underline;
    cursor: pointer;
}

.register-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eye-icon {
    position: absolute;
    cursor: pointer;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg-white);
    font-size: 18px;
    background-color: transparent;
}

.register-form p.valid{
    color: var(--green);
}
.register-form p.invalid{
    color: #FF9191;
}

@media (min-width: 768px){
    .register-main{
        padding: 50px;
    }
    .register-title{
        font-size: 45px;
    }
    .register-box{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
    .register-form{
      padding-top: 100px;
    }
    .register-info{
        padding-top: 50px;
    }
}